#root {
  min-height: 100vh;
  display: flex;
  will-change: width;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  min-height: 100vh;
  padding: 0;
  will-change: left;
  transition: all 1s linear;
}

.sideBarClosed {
  padding-right: 60px;
}

.sideBarOpen {
  padding-right: 150px;
}
.sideBarClosed, .sideBarOpen {
  transition: all 1s ease;
}